<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <header>
            <img src="img/js.png" alt="JS">
            <h1>Snippets.JS</h1>
        </header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Snippet</a></li>
        </ul>
        <h2>My Snippets</h2>
        {{{ body }}}
    </body>
</html>

{{!-- add some css to change the styles on the page. Some examples / inspiration:
change the font
change the background color
change the font color
add padding, alignment
etc. --}}
